.header {
	padding: 160px 0 160px 90px;
	background-image: url("./images/header_flag.png");
	background-repeat: no-repeat;
	background-position: right center;
}

.header__logo {
	position: absolute;
	top: 34px;
	left: 34px;
	height: 22px;
	width: 22px;
	background-color: #5076ff;
	border-radius: 50%;
}

.header__title {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 110px;
	line-height: 110px;
	letter-spacing: -0.04em;
	color: #202020;

	width: 380px;
}

.header__subtitle {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 25px;
	letter-spacing: -0.04em;
	color: #acacac;

	width: 293px;
}

.popular {
	padding: 90px;
	background-color: #202020;
	border-radius: 30px 30px 0 0;
	text-align: center;
}

.popular__title {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	letter-spacing: -0.03em;
	color: #ffffff;
}

.cards {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.card {
	padding: 50px;
	background-color: white;
	border-radius: 20px;
	width: 260px;
	box-sizing: border-box;
}

.card__title {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
	letter-spacing: -0.03em;
	color: #202020;
}

.card__description {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 17px;
	text-align: center;
	color: #202020;
}

.footer {
    padding-top: 50px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
}
